USE [master]
GO
/****** Object:  Database [DB_REIMBURSE]    Script Date: 11/29/2017 6:48:14 PM ******/
CREATE DATABASE [DB_REIMBURSE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_REIMBURSE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_REIMBURSE.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_REIMBURSE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_REIMBURSE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_REIMBURSE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_REIMBURSE]
GO
/****** Object:  StoredProcedure [dbo].[inputDetail]    Script Date: 11/29/2017 6:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[inputDetail]  

 @nik varchar(20) = null,@kodeUser int = null, @kode int = null, @kodeAbsen int = null, @periode date,
@transport money = null, @parkir money = null, @kesehatan money = null, @bpjs money = null, @rM money = null, @rT money = null, @taxi money = null, @lembur money = null,
@enIn money = null, @enEx money = null, @descOther varchar(50) = null, @other money = null, @sub money = null, @noteA varchar(100) = null, @noteF varchar(100) = null,@status bit = null

as
begin try
begin transaction
	if exists (select * from dbo.DETAIL_REIMBURSMENT 
				where NIK = @nik and KODE_PROJECT = @kode and PERIODE = @periode)
			begin
				update dbo.DETAIL_REIMBURSMENT 
				set  TRANSPORT=@transport, PARKIR=@parkir, KESEHATAN=@kesehatan, BPJS=@bpjs, REWARD_MONTHLY=@rM, 
				 REWARD_TRIWULAN=@rT, TAXI=@taxi, LEMBUR=@lembur, ENTERTAIN_INTERNAL=@enIn, ENTERTAIN_EKSTERNAL=@enEx, 
				 DESKRIPSI_OTHER=@descOther, NILAI_OTHER=@other, SUBTOTAL=@sub, NOTES_A=@noteA, NOTES_F=@noteF, STATUS = @status
				 where NIK = @nik and KODE_PROJECT = @kode and PERIODE = @periode;
				 print 'update'
			end
	else 
			begin
				insert into dbo.DETAIL_REIMBURSMENT 
				
				 Values (@nik,@kodeUser,@kode,@kodeAbsen,@periode,@transport,@parkir,@kesehatan,@bpjs,@rM,@rT,@taxi,@lembur,@enIn,@enEx,@descOther,@other,@sub,@noteA, @noteF,@status)
			end
	commit
end try
begin catch 
	if @@TRANCOUNT > 0
		begin 
			print ERROR_MESSAGE()
			ROLLBACK
		end
end catch


GO
/****** Object:  Table [dbo].[CACHE_DETAIL]    Script Date: 11/29/2017 6:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CACHE_DETAIL](
	[KODE_CACHE] [int] NOT NULL,
	[KODE_DETAIL] [int] NOT NULL,
	[NIK] [nvarchar](50) NULL,
	[KODE_PROJECT] [int] NULL,
	[PERIODE] [date] NULL,
	[TRANSPORT] [decimal](18, 0) NULL,
	[PARKIR] [decimal](18, 0) NULL,
	[KESEHATAN] [decimal](18, 0) NULL,
	[BPJS] [decimal](18, 0) NULL,
	[REWARD_MONTHLY] [decimal](18, 0) NULL,
	[REWARD_TRIWULAN] [decimal](18, 0) NULL,
	[TAXI] [decimal](18, 0) NULL,
	[LEMBUR] [decimal](18, 0) NULL,
	[ENTERTAIN_INTERNAL] [decimal](18, 0) NULL,
	[ENTERTAIN_EKSTERNAL] [decimal](18, 0) NULL,
	[DESKRIPSI_OTHER] [nvarchar](50) NULL,
	[NILAI_OTHER] [decimal](18, 0) NULL,
	[SUBTOTAL] [decimal](18, 0) NULL,
	[NOTES_A] [nvarchar](100) NULL,
	[NOTES_F] [nvarchar](100) NULL,
	[STATUS_DETAIL] [bit] NULL,
	[STATUS_CACHE] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETAIL_REIMBURSMENT]    Script Date: 11/29/2017 6:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_REIMBURSMENT](
	[KODE_DETAIL] [int] IDENTITY(1,1) NOT NULL,
	[NIK] [nvarchar](20) NOT NULL,
	[KODE_USER] [int] NOT NULL,
	[KODE_PROJECT] [int] NOT NULL,
	[KODE_ABSEN] [int] NULL,
	[PERIODE] [date] NOT NULL,
	[TRANSPORT] [decimal](18, 2) NULL,
	[PARKIR] [decimal](18, 2) NULL,
	[KESEHATAN] [decimal](18, 2) NULL,
	[BPJS] [decimal](18, 2) NULL,
	[REWARD_MONTHLY] [decimal](18, 2) NULL,
	[REWARD_TRIWULAN] [decimal](18, 2) NULL,
	[TAXI] [decimal](18, 2) NULL,
	[LEMBUR] [decimal](18, 2) NULL,
	[ENTERTAIN_INTERNAL] [decimal](18, 2) NULL,
	[ENTERTAIN_EKSTERNAL] [decimal](18, 2) NULL,
	[DESKRIPSI_OTHER] [nvarchar](50) NULL,
	[NILAI_OTHER] [decimal](18, 2) NULL,
	[SUBTOTAL] [decimal](18, 2) NULL,
	[NOTES_F] [nvarchar](100) NULL,
	[NOTES_A] [nvarchar](100) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_DETAIL_REIMBURSMENT] PRIMARY KEY CLUSTERED 
(
	[KODE_DETAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HISTORY_CLAIM]    Script Date: 11/29/2017 6:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY_CLAIM](
	[KODE_HISTORY] [int] IDENTITY(1,1) NOT NULL,
	[NIK] [nvarchar](20) NULL,
	[NAMA_KARYAWAN] [nvarchar](50) NULL,
	[NAMA_PROJECT] [nvarchar](50) NULL,
	[PERIODE] [date] NULL,
	[TRANSPORT] [decimal](18, 2) NULL,
	[PARKIR] [decimal](18, 2) NULL,
	[KESEHATAN] [decimal](18, 2) NULL,
	[BPJS] [decimal](18, 2) NULL,
	[REWARD_MONTHLY] [decimal](18, 2) NULL,
	[REWARD_TRIWULAN] [decimal](18, 2) NULL,
	[TAXI] [decimal](18, 2) NULL,
	[LEMBUR] [decimal](18, 2) NULL,
	[ENTERTAIN_INTERNAL] [decimal](18, 2) NULL,
	[ENTERTAIN_EKSTERNAL] [decimal](18, 2) NULL,
	[DESKRIPSI_OTHER] [nvarchar](50) NULL,
	[NILAI_OTHER] [decimal](18, 2) NULL,
	[SUBTOTAL] [decimal](18, 2) NULL,
	[NAMA_USER] [nvarchar](50) NULL,
	[HISTORY_DATE] [datetime] NULL,
	[STATUS] [nvarchar](10) NULL,
	[NOTES] [nvarchar](100) NULL,
 CONSTRAINT [PK_HISTORY_CLAIM] PRIMARY KEY CLUSTERED 
(
	[KODE_HISTORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_ABSENSI_KARYAWAN]    Script Date: 11/29/2017 6:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_ABSENSI_KARYAWAN](
	[KODE_ABSEN] [int] IDENTITY(1,1) NOT NULL,
	[NO_ABSEN] [nvarchar](10) NULL,
	[KANTOR] [int] NULL,
	[KLIEN] [int] NULL,
	[SAKIT_SURAT] [int] NULL,
	[SAKIT_CUTI] [int] NULL,
	[CUTI] [int] NULL,
	[CUTI_DITANGGUNG] [int] NULL,
	[MANGKIR] [int] NULL,
	[PERIODE] [date] NOT NULL,
 CONSTRAINT [PK_MST_ABSENSI_KARYAWAN] PRIMARY KEY CLUSTERED 
(
	[KODE_ABSEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_COMPANY]    Script Date: 11/29/2017 6:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_COMPANY](
	[KODE_COMPANY] [int] IDENTITY(1,1) NOT NULL,
	[NAMA_COMPANY] [nchar](10) NOT NULL,
	[STATUS] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_KARYAWAN]    Script Date: 11/29/2017 6:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_KARYAWAN](
	[NIK] [nvarchar](20) NOT NULL,
	[NAMA] [nvarchar](50) NULL,
	[KODE_COMPANY] [int] NULL,
	[NO_ABSEN] [nvarchar](10) NULL,
	[JENIS_KELAMIN] [nchar](5) NULL,
	[TANGGAL_MASUK] [date] NULL,
	[NO_REKENING] [nvarchar](50) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_MST_KARYAWAN] PRIMARY KEY CLUSTERED 
(
	[NIK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_LEVEL]    Script Date: 11/29/2017 6:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_LEVEL](
	[KODE_LEVEL] [int] NOT NULL,
	[LEVEL] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MST_LEVEL] PRIMARY KEY CLUSTERED 
(
	[KODE_LEVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_PROJECT]    Script Date: 11/29/2017 6:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_PROJECT](
	[KODE_PROJECT] [int] IDENTITY(1,1) NOT NULL,
	[NAMA_PROJECT] [nvarchar](50) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_MST_PROJECT] PRIMARY KEY CLUSTERED 
(
	[KODE_PROJECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_USER]    Script Date: 11/29/2017 6:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_USER](
	[KODE_USER] [int] IDENTITY(1,1) NOT NULL,
	[NIK] [nvarchar](20) NOT NULL,
	[KODE_LEVEL] [int] NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MST_USER] PRIMARY KEY CLUSTERED 
(
	[KODE_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DETAIL_REIMBURSMENT] ON 

SET IDENTITY_INSERT [dbo].[DETAIL_REIMBURSMENT] OFF
SET IDENTITY_INSERT [dbo].[HISTORY_CLAIM] ON 

SET IDENTITY_INSERT [dbo].[HISTORY_CLAIM] OFF
SET IDENTITY_INSERT [dbo].[MST_ABSENSI_KARYAWAN] ON 

INSERT [dbo].[MST_ABSENSI_KARYAWAN] ([KODE_ABSEN], [NO_ABSEN], [KANTOR], [KLIEN], [SAKIT_SURAT], [SAKIT_CUTI], [CUTI], [CUTI_DITANGGUNG], [MANGKIR], [PERIODE]) VALUES (1, N'10181', 15, 5, 0, 0, 1, 0, 0, CAST(N'2017-10-28' AS Date))
INSERT [dbo].[MST_ABSENSI_KARYAWAN] ([KODE_ABSEN], [NO_ABSEN], [KANTOR], [KLIEN], [SAKIT_SURAT], [SAKIT_CUTI], [CUTI], [CUTI_DITANGGUNG], [MANGKIR], [PERIODE]) VALUES (2, N'10181', 15, 5, 0, 0, 1, 0, 0, CAST(N'2017-10-28' AS Date))
INSERT [dbo].[MST_ABSENSI_KARYAWAN] ([KODE_ABSEN], [NO_ABSEN], [KANTOR], [KLIEN], [SAKIT_SURAT], [SAKIT_CUTI], [CUTI], [CUTI_DITANGGUNG], [MANGKIR], [PERIODE]) VALUES (3, N'10181', 15, 5, 0, 0, 1, 0, 0, CAST(N'2017-10-28' AS Date))
SET IDENTITY_INSERT [dbo].[MST_ABSENSI_KARYAWAN] OFF
SET IDENTITY_INSERT [dbo].[MST_COMPANY] ON 

INSERT [dbo].[MST_COMPANY] ([KODE_COMPANY], [NAMA_COMPANY], [STATUS]) VALUES (1, N'IGT       ', 1)
INSERT [dbo].[MST_COMPANY] ([KODE_COMPANY], [NAMA_COMPANY], [STATUS]) VALUES (2, N'IMK       ', 1)
INSERT [dbo].[MST_COMPANY] ([KODE_COMPANY], [NAMA_COMPANY], [STATUS]) VALUES (3, N'ICN       ', 1)
SET IDENTITY_INSERT [dbo].[MST_COMPANY] OFF
INSERT [dbo].[MST_KARYAWAN] ([NIK], [NAMA], [KODE_COMPANY], [NO_ABSEN], [JENIS_KELAMIN], [TANGGAL_MASUK], [NO_REKENING], [STATUS]) VALUES (N'01010001', N'Bharat Ongso', 1, N'01001', N'L    ', CAST(N'2001-01-01' AS Date), N'-', 1)
INSERT [dbo].[MST_KARYAWAN] ([NIK], [NAMA], [KODE_COMPANY], [NO_ABSEN], [JENIS_KELAMIN], [TANGGAL_MASUK], [NO_REKENING], [STATUS]) VALUES (N'01010002', N'Sukardi Nur', 1, N'01002', N'L    ', CAST(N'2001-01-01' AS Date), N'397 - 110 - 6806', 1)
INSERT [dbo].[MST_KARYAWAN] ([NIK], [NAMA], [KODE_COMPANY], [NO_ABSEN], [JENIS_KELAMIN], [TANGGAL_MASUK], [NO_REKENING], [STATUS]) VALUES (N'01010003', N'Imam Nurcahyo', 1, N'01003', N'L    ', CAST(N'2001-01-01' AS Date), N'164 - 036 - 3963', 1)
GO
INSERT [dbo].[MST_LEVEL] ([KODE_LEVEL], [LEVEL]) VALUES (0, N'Super Admin')
INSERT [dbo].[MST_LEVEL] ([KODE_LEVEL], [LEVEL]) VALUES (1, N'Admin')
INSERT [dbo].[MST_LEVEL] ([KODE_LEVEL], [LEVEL]) VALUES (2, N'Finance')
SET IDENTITY_INSERT [dbo].[MST_PROJECT] ON 

INSERT [dbo].[MST_PROJECT] ([KODE_PROJECT], [NAMA_PROJECT], [STATUS]) VALUES (1, N'ACC', 1)
INSERT [dbo].[MST_PROJECT] ([KODE_PROJECT], [NAMA_PROJECT], [STATUS]) VALUES (2, N'Rezeki', 1)
INSERT [dbo].[MST_PROJECT] ([KODE_PROJECT], [NAMA_PROJECT], [STATUS]) VALUES (3, N'FIF', 1)
SET IDENTITY_INSERT [dbo].[MST_PROJECT] OFF
SET IDENTITY_INSERT [dbo].[MST_USER] ON 

INSERT [dbo].[MST_USER] ([KODE_USER], [NIK], [KODE_LEVEL], [PASSWORD]) VALUES (1, N'01010001', 0, N'4035eb80354e687dd83cff6bbbfe9e35')
INSERT [dbo].[MST_USER] ([KODE_USER], [NIK], [KODE_LEVEL], [PASSWORD]) VALUES (3, N'01010002', 1, N'4035eb80354e687dd83cff6bbbfe9e35')
INSERT [dbo].[MST_USER] ([KODE_USER], [NIK], [KODE_LEVEL], [PASSWORD]) VALUES (4, N'01010003', 2, N'4035eb80354e687dd83cff6bbbfe9e35')
SET IDENTITY_INSERT [dbo].[MST_USER] OFF
USE [master]
GO
