USE [master]
GO
/****** Object:  Database [DB_REIMBURSE]    Script Date: 11/23/2017 1:20:35 PM ******/
CREATE DATABASE [DB_REIMBURSE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_REIMBURSE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_REIMBURSE.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_REIMBURSE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_REIMBURSE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_REIMBURSE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_REIMBURSE]
GO
/****** Object:  Table [dbo].[DETAIL_REIMBURSMENT]    Script Date: 11/23/2017 1:20:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_REIMBURSMENT](
	[KODE_DETAIL] [int] IDENTITY(1,1) NOT NULL,
	[NIK] [nvarchar](20) NULL,
	[KODE_PROJECT] [int] NULL,
	[PERIODE] [date] NULL,
	[TRANSPORT] [float] NULL,
	[PARKIR] [float] NULL,
	[KESEHATAN] [float] NULL,
	[BPJS] [float] NULL,
	[REWARD_MONTHLY] [float] NULL,
	[REWARD_TRIWULAN] [float] NULL,
	[TAXI] [float] NULL,
	[LEMBUR] [float] NULL,
	[ENTERTAIN_INTERNAL] [float] NULL,
	[ENTERTAIN_EKSTERNAL] [float] NULL,
	[DESKRIPSI_OTHER] [nvarchar](50) NULL,
	[NILAI_OTHER] [float] NULL,
	[SUBTOTAL] [float] NULL,
	[NOTES] [nvarchar](100) NULL,
 CONSTRAINT [PK_DETAIL_REIMBURSMENT] PRIMARY KEY CLUSTERED 
(
	[KODE_DETAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HISTORY_CLAIM]    Script Date: 11/23/2017 1:20:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY_CLAIM](
	[KODE_HISTORY] [int] IDENTITY(1,1) NOT NULL,
	[KODE_USER] [int] NULL,
	[KODE_DETAIL] [int] NULL,
	[PERIODE] [date] NULL,
 CONSTRAINT [PK_HISTORY_CLAIM] PRIMARY KEY CLUSTERED 
(
	[KODE_HISTORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_ABSENSI_KARYAWAN]    Script Date: 11/23/2017 1:20:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_ABSENSI_KARYAWAN](
	[KODE_ABSEN] [int] NOT NULL,
	[NO_ABSEN] [nvarchar](10) NULL,
	[KANTOR] [int] NULL,
	[KLIEN] [int] NULL,
	[SAKIT_SURAT] [int] NULL,
	[SAKIT_CUTI] [int] NULL,
	[CUTI] [int] NULL,
	[CUTI_DITANGGUNG] [int] NULL,
	[MANGKIR] [int] NULL,
	[PERIODE] [date] NULL,
 CONSTRAINT [PK_MST_ABSENSI_KARYAWAN] PRIMARY KEY CLUSTERED 
(
	[KODE_ABSEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_KARYAWAN]    Script Date: 11/23/2017 1:20:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_KARYAWAN](
	[NIK] [nvarchar](20) NOT NULL,
	[NAMA] [nvarchar](50) NULL,
	[COMPANY] [nvarchar](10) NULL,
	[NO_ABSEN] [nvarchar](10) NULL,
	[JENIS_KELAMIN] [nchar](5) NULL,
	[TANGGAL_MASUK] [date] NULL,
	[NO_REKENING] [nvarchar](50) NULL,
 CONSTRAINT [PK_MST_KARYAWAN] PRIMARY KEY CLUSTERED 
(
	[NIK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_LEVEL]    Script Date: 11/23/2017 1:20:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_LEVEL](
	[KODE_LEVEL] [int] IDENTITY(0,1) NOT NULL,
	[LEVEL] [nvarchar](20) NULL,
 CONSTRAINT [PK_MST_LEVEL] PRIMARY KEY CLUSTERED 
(
	[KODE_LEVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_PROJECT]    Script Date: 11/23/2017 1:20:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_PROJECT](
	[KODE_PROJECT] [int] IDENTITY(1,1) NOT NULL,
	[NAMA_PROJECT] [nvarchar](50) NULL,
 CONSTRAINT [PK_MST_PROJECT] PRIMARY KEY CLUSTERED 
(
	[KODE_PROJECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_USER]    Script Date: 11/23/2017 1:20:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_USER](
	[KODE_USER] [int] IDENTITY(1,1) NOT NULL,
	[NIK] [nvarchar](20) NULL,
	[KODE_LEVEL] [int] NULL,
	[PASSWORD] [nvarchar](10) NULL,
 CONSTRAINT [PK_MST_USER] PRIMARY KEY CLUSTERED 
(
	[KODE_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[MST_KARYAWAN] ([NIK], [NAMA], [COMPANY], [NO_ABSEN], [JENIS_KELAMIN], [TANGGAL_MASUK], [NO_REKENING]) VALUES (N'01010001', N'Bharat Ongso', N'IGT', N'01001', N'L    ', CAST(N'2001-01-01' AS Date), N'-')
INSERT [dbo].[MST_KARYAWAN] ([NIK], [NAMA], [COMPANY], [NO_ABSEN], [JENIS_KELAMIN], [TANGGAL_MASUK], [NO_REKENING]) VALUES (N'01010002', N'Sukardi Nur', N'IGT', N'01002', N'L    ', CAST(N'2001-01-01' AS Date), N'397 - 110 - 6806')
INSERT [dbo].[MST_KARYAWAN] ([NIK], [NAMA], [COMPANY], [NO_ABSEN], [JENIS_KELAMIN], [TANGGAL_MASUK], [NO_REKENING]) VALUES (N'01010003', N'Imam Nurcahyo', N'IGT', N'01003', N'L    ', CAST(N'2001-01-01' AS Date), N'164 - 036 - 3963')
GO
SET IDENTITY_INSERT [dbo].[MST_LEVEL] ON 

INSERT [dbo].[MST_LEVEL] ([KODE_LEVEL], [LEVEL]) VALUES (0, N'Super Admin')
INSERT [dbo].[MST_LEVEL] ([KODE_LEVEL], [LEVEL]) VALUES (1, N'Admin')
INSERT [dbo].[MST_LEVEL] ([KODE_LEVEL], [LEVEL]) VALUES (2, N'Finance')
SET IDENTITY_INSERT [dbo].[MST_LEVEL] OFF
SET IDENTITY_INSERT [dbo].[MST_PROJECT] ON 

INSERT [dbo].[MST_PROJECT] ([KODE_PROJECT], [NAMA_PROJECT]) VALUES (1, N'ACC')
INSERT [dbo].[MST_PROJECT] ([KODE_PROJECT], [NAMA_PROJECT]) VALUES (2, N'Rezeki')
INSERT [dbo].[MST_PROJECT] ([KODE_PROJECT], [NAMA_PROJECT]) VALUES (3, N'FIF')
SET IDENTITY_INSERT [dbo].[MST_PROJECT] OFF
SET IDENTITY_INSERT [dbo].[MST_USER] ON 

INSERT [dbo].[MST_USER] ([KODE_USER], [NIK], [KODE_LEVEL], [PASSWORD]) VALUES (1, N'01010001', 0, N'indocyber')
INSERT [dbo].[MST_USER] ([KODE_USER], [NIK], [KODE_LEVEL], [PASSWORD]) VALUES (2, N'01010002', 1, N'indocyber')
INSERT [dbo].[MST_USER] ([KODE_USER], [NIK], [KODE_LEVEL], [PASSWORD]) VALUES (3, N'01010003', 1, N'indocyber')
SET IDENTITY_INSERT [dbo].[MST_USER] OFF
USE [master]
GO
